In [284]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,cross_val_score
import warnings
warnings.filterwarnings('ignore')
from pandas.plotting import scatter_matrix
%matplotlib inline
import ast
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt

In [3]:
#food desert data
food_desert = pd.ExcelFile('data/food_desert_data.xlsx')
desert_data = food_desert.parse(2)
#desert_data.set_index('CensusTract', inplace=True)

In [27]:
desert_data.set_index('CensusTract',inplace=True)

In [55]:
desert_data.head()

,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,LILATracts_halfAnd10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
CensusTract,,,,,,,,,,,,,,,,,,,,,
01001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,0,...,221,1622,217,14,0,14,45,44,26,112
01001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,0,...,214,888,1217,5,0,5,55,75,87,202
01001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,0,...,439,2576,647,17,5,11,117,87,108,120
01001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,0,...,904,4086,193,18,4,11,74,85,19,82
01001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,0,...,1126,8666,1437,296,9,48,310,355,198,488

In [30]:
#behavioral health data
behav = pd.read_csv('data/500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2018_release.csv',)
#behav.set_index('TractFIPS', inplace=True)

In [32]:
behav['TractFIPS']=behav['TractFIPS'].apply(lambda x: "0"+str(x) if len(str(x))==10 else str(x))

In [37]:
behav.set_index('TractFIPS', inplace=True)

In [46]:
#merge first set of data frames
merge1 = behav.merge(desert_data, how='inner', left_index=True, right_index=True)

In [57]:
merge1.head()

,StateAbbr,PlaceName,PlaceFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,BINGE_CrudePrev,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
01073000100,AL,Birmingham,107000,0107000-01073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",11.5,...,231,530,2384,25,0,7,96,82,141,260
01073000300,AL,Birmingham,107000,0107000-01073000300,2735,28.5,"(25.2, 31.7)",30.2,"(29.0, 31.4)",12.0,...,197,498,1710,33,0,4,490,623,287,377
01073000400,AL,Birmingham,107000,0107000-01073000400,3338,23.9,"(20.5, 27.6)",31.7,"(30.3, 33.0)",11.6,...,318,256,2927,10,0,7,138,162,246,501
01073000500,AL,Birmingham,107000,0107000-01073000500,2864,25.8,"(22.0, 29.9)",35.6,"(34.1, 37.0)",10.0,...,417,83,2684,1,10,5,81,89,345,522
01073000700,AL,Birmingham,107000,0107000-01073000700,2577,29.4,"(24.8, 34.2)",37.2,"(35.8, 38.6)",8.4,...,326,12,2538,1,0,1,25,12,198,506

In [58]:
merge1.shape

(27204, 207)

In [60]:
merge1.head()

,StateAbbr,PlaceName,PlaceFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,BINGE_CrudePrev,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
01073000100,AL,Birmingham,107000,0107000-01073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",11.5,...,231,530,2384,25,0,7,96,82,141,260
01073000300,AL,Birmingham,107000,0107000-01073000300,2735,28.5,"(25.2, 31.7)",30.2,"(29.0, 31.4)",12.0,...,197,498,1710,33,0,4,490,623,287,377
01073000400,AL,Birmingham,107000,0107000-01073000400,3338,23.9,"(20.5, 27.6)",31.7,"(30.3, 33.0)",11.6,...,318,256,2927,10,0,7,138,162,246,501
01073000500,AL,Birmingham,107000,0107000-01073000500,2864,25.8,"(22.0, 29.9)",35.6,"(34.1, 37.0)",10.0,...,417,83,2684,1,10,5,81,89,345,522
01073000700,AL,Birmingham,107000,0107000-01073000700,2577,29.4,"(24.8, 34.2)",37.2,"(35.8, 38.6)",8.4,...,326,12,2538,1,0,1,25,12,198,506

In [51]:
#target: food desert or not
y=merge1.pop('LILATracts_1And10')

In [62]:
#feature matrix
X=merge1

In [248]:
X.fillna(-1,inplace=True)

In [259]:
#train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [260]:
X_train.head()

,StateAbbr,PlaceName,PlaceFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,BINGE_CrudePrev,...,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,county,comp
25677,UT,Orem,4957300,4957300-49049001001,3631,11.1,"( 9.5, 12.9)",21.6,"(20.7, 22.6)",8.8,...,20,64,39,18,265,373,19,51,49049,0.483760
22707,TX,San Antonio,4865000,4865000-48029152100,184,36.4,"(32.5, 40.5)",24.2,"(23.2, 25.3)",14.9,...,92,97,11,78,825,4623,40,329,48029,0.191640
8268,FL,Jacksonville,1235000,1235000-12031012601,2947,23.8,"(21.1, 26.8)",24.0,"(23.3, 24.6)",16.7,...,1518,34,0,12,140,139,176,468,12031,0.417281
1836,CA,Chico,613014,0613014-06007000903,6102,10.0,"( 8.4, 11.8)",18.4,"(17.3, 19.3)",20.0,...,162,429,26,120,937,1224,236,222,06007,0.525500
24755,TX,Corpus Christi,4817000,4817000-48355000500,1661,40.8,"(38.1, 43.5)",28.3,"(27.6, 29.1)",13.9,...,628,0,0,6,242,960,109,215,48355,0.186867

In [253]:
subset = X_train[['TractWhite',
'TractBlack',
'TractAsian',
'TractNHOPI',
'TractAIAN',
'TractOMultir',
'TractHispanic',
'TractHUNV',
'TractSNAP',
'OHU2010','PovertyRate','Population2010']]

In [12]:
#create a full corr matrix with the X and y
test = subset.copy()
test['target']=y_train
test.corr()

,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,OHU2010,PovertyRate,Population2010,target
TractWhite,1.000000,-0.351853,0.096984,-0.006491,0.188375,0.137745,0.246858,-0.042633,-0.068180,0.753049,-0.393673,0.524475,-0.059580
TractBlack,-0.351853,1.000000,-0.139225,-0.053131,-0.074738,-0.041877,-0.084438,0.251363,0.500651,0.121495,0.310474,0.153296,0.178195
TractAsian,0.096984,-0.139225,1.000000,0.223674,0.010677,0.178707,0.068677,0.091667,-0.114721,0.278149,-0.185139,0.323366,-0.115467
TractNHOPI,-0.006491,-0.053131,0.223674,1.000000,0.068106,0.186392,0.043886,-0.029935,0.022554,0.052096,-0.039068,0.126188,0.002573
TractAIAN,0.188375,-0.074738,0.010677,0.068106,1.000000,0.384760,0.326254,0.036544,0.215912,0.195590,0.058717,0.233160,0.041809
TractOMultir,0.137745,-0.041877,0.178707,0.186392,0.384760,1.000000,0.864182,0.133728,0.340904,0.212833,0.154369,0.445099,0.012084
TractHispanic,0.246858,-0.084438,0.068677,0.043886,0.326254,0.864182,1.000000,0.093238,0.357090,0.206529,0.150234,0.419046,0.046741
TractHUNV,-0.042633,0.251363,0.091667,-0.029935,0.036544,0.133728,0.093238,1.000000,0.438192,0.309912,0.227002,0.242075,-0.049420
TractSNAP,-0.068180,0.500651,-0.114721,0.022554,0.215912,0.340904,0.357090,0.438192,1.000000,0.226792,0.556177,0.291451,0.202267
OHU2010,0.753049,0.121495,0.278149,0.052096,0.195590,0.212833,0.206529,0.309912,0.226792,1.000000,-0.266350,0.683531,-0.017651
PovertyRate,-0.393673,0.310474,-0.185139,-0.039068,0.058717,0.154369,0.150234,0.227002,0.556177,-0.266350,1.000000,-0.091964,0.228630
Population2010,0.524475,0.153296,0.323366,0.126188,0.233160,0.445099,0.419046,0.242075,0.291451,0.683531,-0.091964,1.000000,0.004305
target,-0.059580,0.178195,-0.115467,0.002573,0.041809,0.012084,0.046741,-0.049420,0.202267,-0.017651,0.228630,0.004305,1.000000